:root{
    --main-color: #314C9F;
    --body-color: #EEEEEE;
    --text-color:#000;
    --alt-text-color: #9F9F9F;

    
}

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
 
    /* overflow-x: hidden; */
}
body{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    background-color: var(--body-color);
    font-family: 'Readex Pro', sans-serif;
   
}

h1{
    font-size: 3rem;
    font-weight:700;
    line-height: 1.5;
    color:#fff;
}
h2{
    font-size: 3rem;
    font-weight:700;
    line-height: 1.6;
    color:var(--main-color);
   
  
}
p{
    color: var(--alt-text-color);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
}
a{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
}
a:hover{
    color: var(--text-color) !important;

}
section{
    padding-top: 6rem ;
    overflow: hidden;
 
}
.container-with-right-img{
  width: 90%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

}
.container-with-left-img{
  width: 90%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}


.left-side-img img , .right-side-img img{
    width: 100%;
    overflow: hidden;
}
@media(max-width:992px){
    .container-with-left-img , .container-with-right-img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
     
    }
   
    .left-side-img , .right-side-img  {
      display: none;
    }
    .mob-img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mob-img img{
        width: 80%;
        display: block !important;
        margin-top: 2rem;
    }


}
@media(max-width:300px) {
    html {
        font-size: 11px
    }
}

@media(max-width:567px) {
    html {
        font-size: 12px
    }
}

@media(min-width:992px) {
    html {
        font-size: 16px
    }
}


/* start spinner -------------------------------------- */
#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center
}

.spinner {
    width: 4rem;
    height: 4rem;
    border: 5px solid #fff;
    border-top: 5px solid var(--main-color);
    border-radius: 50%;
    animation: 1s linear infinite spin
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}
/* navbar style ------------------------------------ */

.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    padding-top: 2rem !important;
    background-color: var(--body-color) !important;
   
  
}
.navbar a{
    color: var(--text-color) !important ;
    font-size: 1.25rem !important;
    font-weight: 400;
    margin: 0.25rem !important;
    transition: 1s all;
}
.navbar a:hover{
    color: var(--main-color) !important;
}

.navbar i{
    font-size: 2.25rem ;
    color: var(--main-color);
}


@media (max-width:992px){
    .navbar img{
        width: 80% !important;
    }

}

/* start banner style ---------------------------------------- */

.banner{
    background-image: url('../images/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
 
  
    margin-top: 15rem;
}
.banner-img{
    position: relative;
    bottom: 6rem;
    width: 100%;
    left: 8rem;
    margin: auto;

 }
 .banner-img img{
    width: 100%;
 }
.banner .banner-content{
    width: 43%;
    background-color: rgb(4, 26, 4);
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: -2rem;
    
}
.banner-content p{
    font-size: 1.24rem;

}
@media(max-width:992px){
    .banner{
        background-size: contain;
        height: 50vh;
        /* margin-top: 20rem; */
        margin-top: 2rem;
       
    }
    .banner .banner-content{
        display: none;
    }
    .banner-img{
        display: none;
    }
    .banner-img-mob{
        margin-top: 10rem;
        width: 100% !important;
    }
    .banner-img-mob img{
        display:  block !important;
        width: 80% !important;
        
    }
    /* .banner-img{
       position: relative;
   
       width: 100%;
       z-index: 99;
       background-color: #028996;
       height: 100%;
       padding-right: 3rem;
       

    }  */
     .banner-img img{
        width: 75% !important;
    }
   
}

/* start about us section ----------------------------------------- */
.about{
    padding-top: 6rem;
}
.about h2{
    font-size: 6rem;
    font-weight: 700;
    color: var(--main-color);

}
.about .title{
    width: 30%;
}
.about .content{
    width:40%;
    padding-left: 3rem;
}
.about .line{
    height: 20rem;
    width: 0.5rem;
    background-color: var(--main-color);
}
.about p{
    font-size: 1.5rem !important;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-color);
}
/* media query for about-us section --------------------------- */
@media(max-width:992px){
    .about{
        padding-left:1rem;
        padding-right: 1rem;
        padding-top: 8rem;
  
    }
    .about .line{
        width:16rem;
        height: 0.5rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .about .about-content{
        width: 100%;
    }
    .about h2{
        font-size: 3rem;
    }
    .about p{
        font-size: 0.75rem;
    }
    .about .title{
        width: 80%;
    }
    .about .content{
        width: 100%;
       
    }
    .about .content p{
        font-weight: 400;
    }
    .about-content{
        flex-direction: column;
        justify-content: center;

    }
 
}
/* start brand section ------------------------------- */
.brand .img-bg  {
    width: 50%;
    position: relative;
}


.brand  .img-layer{
    position: absolute;
    top: 50%; 
    right: 0;
    left: 27%;
    width: 100%;
    transform: translateY(-50%);
}
.brand .brand-content{
    width:32%;
}

/* media query for brand section ----------------- */
@media(max-width:992px){
    .brand{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .brand .brand-content{
        width:100%;
    }
}

/* start poms section --------------------------- */
.posm{
    position: relative;
    /* padding: 6rem 0; */
}

.posm .bg {
    position: absolute;
    right: 0;
    width: 35%;
}
.posm .bg img{
    width: 100%;
}

.posm  .img-layer{
    position: absolute;
    top: 35%;
    right: 15rem;
    width: 60%;
    transform: translateY(-50%);
}
.posm .img-layer .layer{
    width: 100%;
    position: relative;
}
.posm .flag-img{
    position: absolute;
    bottom: 0;
    right: -4rem;
}
.posm .content{
    width: 45%;
}
.posm .posm-content{
    width: 85%;
}

/* media query for posm section ------------------- */
@media(max-width:992px){
    .posm{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .posm .content{
        width: 100%;
    }
    .posm .posm-content{
        width: 100% !important;
    }
    .posm .posm-content{
        width: 100% !important;
    }
    .posm .desktop-heading{
        display: none;
    }
    .posm .mob-heading{
        display:  block !important;
    }
}
/* start graphic section ----------------------------------- */
.graphic-design{
    /* position: relative; */
    /* padding: 6rem 0; */
}
.graphic-design .container-with-left-img{
    justify-content: space-between !important;
}
.graphic-design .bg{
    width: 47%;
    position: relative;

}
.graphic-design .bg img{
    width: 100%;
}
.graphic-design-content{
    width:35%;
    margin-left: 8rem;

}
.graphic-design .img-layer {
    
    position: absolute;
    left: 13rem;
    bottom: 4rem;
    width: 100%;
}
.graphic-design .img-layer img{
 
    width: 60%;
}

@media(max-width:992px){
   
    .graphic-design{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .graphic-design-content{
        width: 100%;
        margin-left: 0;
    }
   
}
/* start gifts section ------------------------------- */
.gifts{
    position: relative;
    /* padding: 6rem 0; */
}
.gifts .bg{
    width:48%;
    position: absolute;
    right: 0;
}
.gifts .bg img{
    width: 100%;
}
.gifts .img-layer{
    width: 100%;
}
.gifts .img-layer img{
    position: absolute;
    right: 50%;
    width: 60%;
    top:-2rem;
}
.gifts .gifts-content{
    width: 35%;
}
/* media query for gifts section ----------------- */
@media(max-width:992px){
    .gifts{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .gifts .gifts-content{
        width: 100%;
    }
}
/* start management section --------------------------------------- */
.management{
    padding-top: 8rem;
}
.management  .bg{
   width:35%;
   position: relative;
}
.management  .bg img{
    width:100%;
}
.management .img-layer {
    position: absolute;
    left: 15rem;
    width:100%;
    top: -1rem;
}
.management .img-layer img{
    width: 70%;
}
.management .management-content{
    width: 45%;
  
    margin-left: 5rem;
}
.management .content{
    width:80%;
}
/* media query for managment section ------------------------------- */
@media(max-width:992px){
    .management{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .management .management-content{
        width: 100%;
        margin-left: 0;
    }
    .management .content{
        width:100%;
    }
}
/* start event section ------------------------------------------------ */
.event{
    width: 100%;
}
.event .bg{
    width:50%;
    position: relative;
}
.event .bg img{
    width:100%;

}
.event .event-content{
    width: 40%;

}
.event .content{
    width: 85%;
}
.event .img-layer{
    width: 100%;
    position: absolute;
    top: 8rem;
}
.event .img-layer img{
    width: 60%;
}
.event .event-content img{
    width: 70%;
}
/* media query for event section ------------------------------ */
@media(max-width:992px){
    .event{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .event .event-content img{
        display: none;
    }
    .event-left-img img{
       display: block !important;
       width: 100%;
    }
    .event .event-content{
        width: 100%;
    }
    .event .content{
        width: 100%;
    }
    .event .mob-img{
        display: block !important;
    }
    .event .event-left-img{
        display: block !important;
    }
    .event .event-left-img img{
        display: block !important;
        margin-top: 2rem;
    }

}
/* start social-media section ------------------------------- */
.social-media {
    padding-top: 8rem;
}
.social-media .content{
    width: 75%;
}
.social-media .social-media-links img{
    width: 12rem;
    margin-bottom: 1rem;
}
.social-media .social-media-links .left-links{
    margin-top: 4rem;
    margin-right: 2rem;
}
.social-media .social-media-links .fa-whatsapp{
    color:#028996;
    
}
.social-media .social-media-links .fa-instagram{
    color: #D8365A;
    
    
}
.social-media .social-media-links .fa-twitter {
    color: var(--main-color);
}
.social-media .social-media-links .fa-linkedin-in {
    color: var(--main-color);
}
/* media query for social-media section ----------------------------- */
@media(max-width:992px){
    .social-media{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .social-media .social-media-links img{
        width: 10rem;
    }
}
/* start why-connect layer  -------------------------------------- */
.why-connect{
    margin-top: -15rem;
  
}
.why-connect .yellow-layer{
    background-image: url('../images/yellow-layer.png');
    height: 115vh;
    position: relative;
    /* overflow: hidden; */
}
.why-connect .yellow-layer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.why-connect .man-img{
    width: 45%;
    margin-top: 7rem;
}
.why-connect .man-img img{
    width: 100%;
}
.why-connect  .yellow-layer .content{
    width: 40%;
    margin-top: 1rem;
    padding-top: 1rem;
}
.why-connect  .yellow-layer .why-connect-text {
    font-size: 1rem;

}
@media(max-width:992px){
    .why-connect  .yellow-layer{
        height: 120vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('../images/yellow-mob-img.png');
    }
    .why-connect .man-img{
        display: none;
    }
    .why-connect .yellow-layer .content{
      min-height: 100%;
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
    
    }

}
.why-connect .pink-layer{
    background-image: url('../images/pink-layer.png');
    height: 180vh;
    position: absolute;
    top:2rem;
    

}
.why-connect .pink-layer .pink-layer-content{
    display: flex;
    margin-top: 45%;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    margin-left: 20%;
    width: 80%;
}

.why-connect  .pink-layer .woman-img{
    width: 65%;
   
   
}
.why-connect  .pink-layer .woman-img img{
    width: 100%;
    margin-top: 7rem;
}

.our-msg-content , .our-vision-content{
    width: 60%;
   
}
 .our-vision-content h2 ,  .our-msg-content h2 {
    color: #fff;
}
 .our-vision-content p ,  .our-msg-content p{
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.3;
 
}

@media(max-width:992px){
    .why-connect .pink-layer{
        background-image: url('../images/pink-mob-layer.png');
        height: 190vh;
    }
    .why-connect  .pink-layer .woman-img{
        display: none;
       
    }

    .our-msg-content , .our-vision-content{
        width: 100%;
    }
  
    .our-vision-content{
        margin-top: 2rem;
    }
    .our-msg-content{
        margin-top: 4rem;
    }
  
    
}
@media(max-width:380px){
    .why-connect .pink-layer .pink-layer-content{
       
        width: 100%;
       margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        margin-top: 15rem;
    
     }
}
@media(min-width:380px) and (max-width:992px){
    .why-connect .pink-layer .pink-layer-content{
       
        width: 100%;
       margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        margin-top: 10rem;
    
     }
}
.why-connect .aqua-layer{
    background-image: url('../images/aqua-layer.png');
    height: 148vh;
    position: relative;
    top: 12rem;
    z-index: 666;
}
@media(max-width:992px){
    .why-connect .aqua-layer{
        background-image: url('../images/aqua-mob-img.png');
        height: 60vh;
        top: 14rem ;
    
    }
}
/* start our parteners section ---------------------------------- */
.our-parteners{
    /* margin-top: 7rem; */
}
.parteners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0.75rem;
    overflow-x: auto;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none; /* for firefox */
  }
  .parteners::-webkit-scrollbar { /* for chrome */
    display: none;
  }
  
  /* Element styles */
  .parteners .img-box {
    /* aspect-ratio: 1 / 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    scroll-snap-align: start;
    font-weight: 600;
    user-select: none;
    width: 20%;

 
  }
  .parteners .img-box img{

  width: 100%;
  }
  
  @media(max-width:992px){
    .our-projects{
    padding-left: 0;
    padding-right: 0;
    }
    .our-projects .container{
        width: 100% !important;
    }
    .parteners .img-box{
        width: 100% ;
    }
    .parteners .img-box img{
        width: 14rem;
    }
    .parteners{
        flex-wrap: nowrap;
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
  
    }
  }

  /* start brand activation style  ---------------------------------- */
.brand-banner{
    position: relative;
    padding-top: 8rem;
    padding-bottom: 5rem;

    /* height: 100vh; */
}
.brand-banner .col-lg-5 img{
  
    position:  relative !important;
    overflow: auto;
    z-index: 9999999999999999999999999999999999999 !important;
}
.brand-banner h2{
    margin-top: 2rem;
}
.brand-banner .content{
    width: 74.5%;
 
}
.brand-banner .banner-bg{
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  z-index:99;
  
}
.brand-banner .img-layer{
    position: absolute;
    width: 100%;
    top: 25%;
    right: 40%;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999
}


.brand-banner .banner-bg img{
    width: 100%;
}


/* media query for brand-banner ------------------- */
@media(max-width:992px){
    .brand-banner {
        padding-bottom: 0;
    }
    .brand-banner h2{
        margin-top: 1rem;
    }
    .brand-banner {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .brand-banner .content{
        width: 100%;
     
    }
    .brand-banner .row{
        justify-content: center !important;
        align-items: center !important;
    }
    
    .brand-banner .img-box img{
        display:  block !important;
        width: 95%;
        margin-top: 1rem;
        margin-right: 4rem;
        /* background-color: aqua; */
    } 
    .brand-banner .banner-bg{
        display: none !important;
    }

    
}
/* start brand-gallery-style ------------------------------------ */

.brand-gallery .imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding-top: 3rem; */
}
.brand-gallery .imgs .img-container{
    width: 25%;
    margin: 1rem;
}
.brand-gallery .imgs .img-container img{
    width: 90%;
}
@media(max-width:992px){
    .brand-gallery .imgs .img-container{
        width: 42%;
    
    }
    .brand-gallery .imgs .img-container img{
       width: 100%;
    }
}
/* start other-services section style    ----------------------------- */
.other-services h2{
    font-size: 5rem;
    line-height: 1.4;
    border-right:5px solid var(--main-color);
}
.other-services .title{
    margin-right: 2rem;
    width: 40%;
}
.other-services ul{
    list-style: none;
}
.other-services ul li {
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 700;
}

@media(max-width:992px){
    .other-services{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .other-services h2{
        font-size: 2.5rem;
        border-right: none;
        line-height: 2;
       
    }
    .other-services .title{
        border-bottom: 5px solid var(--main-color);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .other-services ul{
        padding: 0;
        
    }
    .other-services ul li{
        font-size: 1rem;
    }
    .other-services-content{
        flex-direction: column;
    }


}
/* start our-projects page style ----------------------------------------- */
.our-projects {
    padding-right: 2rem;
    padding-left: 2rem;
}
.our-projects nav{
    border-bottom: none !important;
    margin-bottom: 2rem;
}
.our-projects nav button{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: #000;
    font-size: 0.8rem !important;
    margin: 0 !important;
    padding: 0.5rem !important;
}
.our-projects .col-md-5{
    margin-bottom: 2rem;
}
.our-projects .col-md-5 .pro-img{
    width: 90%;
}
.our-projects .col-md-5 .pro-img img{
    width: 100%;
}
/* media query for our-projects section ------------------------ */
@media(max-width:992px){
    .our-projects h2{
        font-size: 2rem;
        line-height: 1.5;
    }
    .our-projects a{
        font-size: 1.75rem;
    }
    .our-projects nav{
        display: none;
    }
    .our-projects .col-md-5{
        display: flex;
        justify-content: center;
    }
  
}
/* start contact us page style --------------------------------- */
.contact-banner{
    position: relative;
    /* height: 100vh; */

    /* margin-bottom: -8rem; */
}
.contact-banner h2{
    font-size: 4rem;
}
.contact-banner .form{
    width:35%;
    padding-top: 5rem;
    margin-top: 2rem;

}
.contact-banner .form .input{
    margin-bottom: 1.5rem;
    width: 85%;
  
}
.contact-banner .form .textarea{
    margin-bottom: 1.5rem;
}
.contact-banner .form .input label{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
}
.contact-banner .form input , .contact-banner .form textarea {
    border: none !important;
    border-radius: 1rem;

}
.contact-banner button{
    border: none;
    outline: none;
    background-color: var(--main-color);
    color:#fff;
    padding: 0.75rem 4rem;
    border-radius: 0.5rem;
}
 .contact-banner .contact-us-img{
    width: 50%;
    position: absolute;
    right: 0;
    top:9rem; 
}
.contact-banner .contact-us-img img{
    width: 100%;

} 
/* media query for contact-page -------------------- */
@media(max-width:992px){
   
    .contact-banner{
       
        padding-left: 2rem;
        padding-right: 2rem;
      

    }

    .contact-banner .form {
        width:100%;


    } 

    .contact-banner .contact-us-img{
        display: none ;
    }

    .contact-banner .form .textarea , .contact-banner .form .input{
        width:100%;
    }
}

/* start gallery img page ----------------- */

#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  #banner  .over-lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.gallery .row .img {
    margin-bottom: 2rem;
}
.gallery .row img {
    height: 30rem;
}
.gallery .img{
    position: relative;
}
.gallery .description {
    position: absolute;
    left: 0;
    width: 100%;
    top: 70%;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 1rem;
    
}
.gallery .description p{
   font-size: 1rem;
   color: #fff;
 
}
/* start footer section  ---------------------------------------------*/
footer{
    padding-top: 6rem;
    
    
}
footer h2{
    font-size: 6rem;
    font-weight: 700;
}
footer a{
    font-size: 4rem;
    color: #314C9F80;
    font-weight: 700;
    margin-bottom: 8rem;
}
footer .footer-img {
  width: 100%;
  position: relative;
}
footer .footer-img img{
    width:100%;
  
}
footer .footer-img .desktop-img{
    height: 59vh;
}
footer .logo{


  position: absolute;
  top: 100%;
  margin-top: 5rem;
  z-index: 777;
}
.contact-link{
    padding-bottom: 5rem;
}
footer .logo img{
    width:35rem;
    /* width: 100%; */
}
.footer-content{
   margin-bottom: 9rem;
   padding-bottom: 6rem;

}
@media(max-width:992px){
    .footer-content{
        margin-bottom: 4rem;
        padding-bottom: 7rem;
     
     }
    footer .footer-content h2{
        font-size: 2.5rem;
    }
    footer .footer-content a{
        font-size: 2.25rem;
        margin-bottom: 0;
    }
    footer .desktop-img{
        display: none;

    }
    footer .mob-img{
        display: block !important;
        height: 450px;
    }
    footer .logo img{
        width:25rem;
    }
   
      footer .logo{
          top: 70% ;
          
        }
}